a {
    color: rgb(var(--bs-secondary-rgb));
}

#paige-site-credit {
    font-size: 14px;
}

.footer-icons {
    font-size: 20px;
    text-decoration: none;
    margin-right: 8px;
}

/* make active links at the top of the page black and others gray */
.nav-link .active {
    color: black;
}
.nav-link {
    color: rgb(var(--bs-secondary-rgb));
}

/* make the paige/cloud links larger */
.list-inline-item {
    font-size: 20px;
}

/* use a narrow column for the main content */
#paige-page-content > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}
/* use a wide look for images and other specific things, as an exception to the narrow look */
#paige-page-content > .paige-shortcode-image,
#paige-page-content > .paige-shortcode-gallery,
#paige-page-content > .big-fancy-text {
    max-width: 100%;
}